# Tool
.vscode/
__pycache__/
*.egg-info

# Data / process files
out/
todo*
sims*
junk/
tables_out/
build/
dist/
loop_out_dir/
misc/
dists*
old_code/
recovered-poster-files/
notebooks/
pub-data/
all_ratios.txt
pcHiC_loops